.advantages {
  min-height: 473px;
  background-color: #F6F6F6;
  padding: 73px 0 65px 0;
  &__icons {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 60px;
  }
  &__block {
    width: 277px;
  }
  &__icon {
    display: block;
    margin: 0 auto;
  }
  &__subheader {
    font-weight: 700;
    font-size: 18px;
    line-height: 29px;
    text-align: center;
    color: #0D0D0D;
    margin-top: 35px;
  }
  &__descr {
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: #0D0D0D;
    margin-top: 20px;
  }
  &__link {
    color: #FF0000;
  }
}